body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.loginPage {
    background-image: url(img/background-128505-385441-537479.png);
    height: 100vh;
    background-size: cover;
}

.loginForm {

}

.loginButton {
    background-color: #E50914;
    color: white;
    padding: 7px 17px;
}
